<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rompe">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!-- Declaración de hardware (cámara no requerida) -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Actividad principal -->
        <activity
            android:name=".MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras actividades -->
        <activity android:name=".MainActivity" />
        <activity android:name=".FotoActivity" /> <!-- Declarar FotoActivity -->

        <activity
            android:name=".ScoreActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/> <!-- Ajusta el tema según necesites -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.rompe.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>