<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rompe">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Declaración de hardware (cámara no requerida) -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rikito"
        android:label="Vortex Puzzle"
        android:roundIcon="@mipmap/rikito_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".LoadingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".FotoActivity" />

        <activity android:name=".NormalActivity" />

        <activity
            android:name=".ScoreActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.rompe.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>